* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right, #00b712, #5aff15, lightgreen);
}

.cointainer {
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(to right, #00b712, #5aff15, lightgreen);
}

#mySearch {
    width: 25%;
    display: flex;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: lightgreen;
}

.card {
    border: 2px solid green;
    background-color: white;
    border-radius: 10px;
    width: 25%;
    padding: 10px;
    margin-left: 60px;
    margin-top: 60px;
}

.image {
    width: 100%;
    height: 50%;
    border-radius: 10px;
}

.name {
    margin-top: 20px;
    text-align: center;
    color: green;
}

.description {
    margin-top: 20px;
    height: 25%;
}

.wiki {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: green;
    border-radius: 10px;
    margin: 40px;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.wiki:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: green;
    border-radius: 10px;
    color: white;
}